<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import DashboardSidebar from "@/Components/DashboardSidebar.vue";
import SectionTitle from "@/Components/SectionTitle.vue";
import {computed, nextTick, onBeforeMount, onMounted, ref, watch} from "vue";
import {Link, router, usePage, useRemember, useForm as iForm} from "@inertiajs/vue3";
import _ from "lodash";
import TableDataAuction from "@/Components/TableDataAuction.vue";
import GrayButtonSm from "@/Components/GrayButtonSm.vue";

import InputError from "@/Components/InputError.vue";
import DangerButton from "@/Components/DangerButton.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import SecondaryButton from "@/Components/SecondaryButton.vue";
import NairaTextInput from "@/Components/NairaTextInput.vue";
import DocumentModal from "@/Components/DocumentModal.vue";
import DialogModal from "@/Components/DialogModal.vue";
import {useForm} from "laravel-precognition-vue-inertia";
import { DateTime } from "luxon";
import PoAuction from "@/Pages/Auctions/Partials/PoAuction.vue";
import SubscriptionModal from "@/Components/SubscriptionModal.vue";

const props = defineProps({
    data: Object,
    headerFields: Object,
    notFoundMsg: String,
});
const myData = ref(props.data);
const filterTypes = {
    '' : null,
    'buyer' : 'Buyer',
    'deliver_to' : 'Delivery Location',
    'buyer_tier' : 'Buyer Tier'
};
const showDetails = useRemember(ref(false), 'details');
const selectedDocument = ref(null);
const selectedRequest = ref(null);
const requestPlaceholder = useRemember(ref(null),'placeholder');
const formatMoney = new Intl.NumberFormat('en-NG', {
    style: 'currency',
    currency: 'NGN',
});
const sourceFolder = ref(null);
const viewDocument = ref(false);
const viewingDocument = (doc, folder) => {
    axios.get(route('fetch_image', {image: doc}))
        .then((resp) => {
            selectedDocument.value = resp.data;
            viewDocument.value = true;
            sourceFolder.value = folder;
        })
        .catch(error => {
            viewDocument.value = false;
            loadBanner('Document has been deleted or does not exist', 'danger', '3000')
        });
}
const previewingDocument = (doc, folder) => {
    axios.get(route('fetch_preview', {image: doc}))
        .then((resp) => {
            selectedDocument.value = resp.data;
            viewDocument.value = true;
            sourceFolder.value = folder;
        })
        .catch(error => {
            viewDocument.value = false;
            loadBanner('Document has been deleted or does not exist', 'danger', '3000')
        });
}
const showDialog = ref(false);
const dialogCloseable = ref(true);
const addZero = value => ("0" + value).slice(-2);
const tableKey = ref(0);
const form = ref(null);
const selectedRequestFiles = ref([]);
const removedFiles = ref([]);
const showSubscriptionModal = ref(false);
const flash = ref(null);

function formatDate (value) {
    if (value) {
        const dt = new Date(value);
        return `${addZero(dt.getDate())}/${addZero(
            dt.getMonth() + 1
        )}/${dt.getFullYear()}`;
    }
    return "N/A";
}
function loadBanner(message, style, duration) {
    usePage().props.jetstream.flash['banner'] = message;
    usePage().props.jetstream.flash['bannerStyle'] = style;
    setTimeout(() => {usePage().props.jetstream.flash = []}, duration);
}
function getDetails (item) {
    selectedRequest.value = item;
    showDetails.value = true;
}
function closeDetails(force = false) {
    flash.value = selectedRequest.value.id;
    showDetails.value = false;
    selectedRequest.value = null;
    selectedDocument.value = null;
}
function format (formatType, value) {
    let res;
    switch (formatType) {
        case 'date':
            res = formatDate(value);
            break;
        case 'currency':
            res = _.isFinite(value) ? formatMoney.format(value) : 'pending';
            break;
        case 'percent':
            res = (value === 'pending') ? value : (value + ' %');
            break;
        case 'humanDate' :
            const options = { year: "numeric", month: "long", day: "numeric" }
            return value ? new Date(value).toLocaleDateString(undefined, options) : 'pending'
        case 'humanDateTime' :
            const timeOptions = { year: "numeric", month: "numeric", day: "numeric", hour: "numeric", minute: "numeric" }
            return value ? new Date(value).toLocaleString(undefined, timeOptions) : 'pending'
        default: res = ''
    }
    return res;
}
function submit() {

}
function isFile(input) {
    return 'File' in window && input instanceof File
}


watch(selectedRequest, () => {
  if (selectedRequest.value) {
    requestPlaceholder.value = JSON.parse(JSON.stringify(selectedRequest.value));
  }
})
onBeforeMount(() => {
  if (requestPlaceholder.value) {
    selectedRequest.value = requestPlaceholder.value;
    getDetails(selectedRequest.value);
  }
})

</script>

<template>
    <AppLayout title="Auctions - Purchase Orders">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Available Purchase Order Auctions
            </h2>
        </template>

        <div class="py-4">
            <div class="max-w-full px-6 flex flex-col md:flex-row space-x-0 md:space-x-5 w-full">
                <DashboardSidebar/>
                <div class="flex flex-col space-y-5 items-start mt-2 w-full">
                    <SectionTitle v-if="!showDetails" class="mb-2">
                        <template #description>
                            This is a list of active Purchase Orders which are available for bidding by prospective suppliers.<br>
                            NOTE: Please place bids ONLY for Purchase Orders which you can provide evidence of your capacity to execute.
                        </template>
                    </SectionTitle>

                    <div class="w-full">
                        <subscription-modal :show="showSubscriptionModal" :closeable="true" @close="showSubscriptionModal= false">
                          <template #title>
                            You are on a free subscription
                          </template>
                          <template #content>
                            Your company is currently on a free subscription because you were auto-listed on {{ $page.props.appName }} by a Buyer account
                            ({{ $page.props.auth.user.company.subscription.introducer.company_name }}). Until you complete your subscription, you will only be able to
                            respond to their purchase orders.<br>
                            An active supplier subscription allows you to bid on all open purchase orders, request financing for your invoices and access other benefits
                            associated with a {{ $page.props.appName }} account.
                          </template>
                          <template ##action>
                            <primary-button>Subscribe</primary-button>
                          </template>
                        </subscription-modal>
                        <DocumentModal :z-level="'z-[999]'" :show="viewDocument" @close="viewDocument = false; sourceFolder = null; selectedDocument = null" :source-folder="sourceFolder" :selected-document="selectedDocument"/>
                        <TableDataAuction v-if="!showDetails" @get-selected-request="getDetails" @show-document="viewingDocument"
                                          :not-found-msg="'No active auctions found'" :flash="flash"
                                          :my-data="myData" :filter-types="filterTypes" :current-page="currentPage" @load-banner="loadBanner"
                        />
                        <PoAuction v-if="showDetails && (selectedRequest.auction_type === 'Purchase Order Tender')"
                                   @no-subscription="showSubscriptionModal = true" :selected-request="selectedRequest"
                        @show-document="viewingDocument" @load-banner="loadBanner" @close-details="closeDetails" @submit="submit"/>
                    </div>
                </div>

            </div>
        </div>
    </AppLayout>
</template>
