
@font-face {
    font-family: 'Euclid Square';
    src: url('fonts/EuclidSquare-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('fonts/EuclidSquare-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('fonts/EuclidSquare-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('fonts/EuclidSquare-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('fonts/EuclidSquare-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('fonts/EuclidSquare-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('fonts/EuclidSquare-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('fonts/EuclidSquare-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('fonts/EuclidSquare-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('fonts/EuclidSquare-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

