<script setup>
import { Link } from '@inertiajs/vue3';
</script>

<template>
    <Link :href="'/'">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="199px" height="36px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
             viewBox="0 0 191.67 34.64"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:xodm="http://www.corel.com/coreldraw/odm/2003">
            <g id="Layer_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
                <g id="_105553176832768">
   <path class="fil0" d="M19.29 3.46c0.73,-0.64 1.36,-2 0.38,-2.91 -1.12,-1.08 -2.45,-0.35 -3.19,0.38l-14.47 14.75c-1.36,2.11 -3.98,7.52 0.49,12.44 3.14,2.94 8.04,4.33 12.44,1.87l16.13 -15.74c0.31,-0.48 0.6,-1.59 -0.33,-2.64 -0.83,-0.59 -1.99,-0.46 -2.81,0.38l-14.92 14.7c-2.25,1.12 -4.78,1.03 -7.26,-0.94 -1.43,-1.65 -2.97,-4.89 -0.66,-7.92l14.2 -14.37z"/>
                    <path class="fil0" d="M20.35 31.18c-0.74,0.64 -1.36,2 -0.39,2.91 1.12,1.08 2.46,0.35 3.19,-0.38l14.48 -14.75c1.35,-2.11 3.98,-7.52 -0.5,-12.44 -3.14,-2.94 -8.03,-4.33 -12.44,-1.87l-16.12 15.74c-0.32,0.48 -0.61,1.59 0.33,2.64 0.82,0.59 1.98,0.46 2.8,-0.38l14.92 -14.7c2.26,-1.12 4.79,-1.03 7.26,0.94 1.44,1.65 2.98,4.89 0.66,7.92l-14.19 14.37z"/>
  </g>
                <path class="fil1" d="M55.94 20.47c0.36,0.45 0.75,0.81 1.18,1.07 0.43,0.27 0.97,0.4 1.62,0.4 0.28,0 0.56,-0.03 0.85,-0.09 0.29,-0.07 0.55,-0.17 0.78,-0.31 0.24,-0.14 0.42,-0.31 0.56,-0.52 0.14,-0.21 0.21,-0.46 0.21,-0.76 0,-0.3 -0.06,-0.54 -0.2,-0.72 -0.13,-0.19 -0.3,-0.35 -0.52,-0.48 -0.22,-0.13 -0.47,-0.24 -0.75,-0.32 -0.28,-0.07 -0.56,-0.14 -0.86,-0.21 -0.51,-0.11 -1,-0.23 -1.47,-0.37 -0.47,-0.14 -0.87,-0.32 -1.22,-0.55 -0.35,-0.22 -0.63,-0.52 -0.84,-0.87 -0.21,-0.36 -0.32,-0.82 -0.32,-1.38 0,-0.53 0.12,-0.99 0.35,-1.4 0.23,-0.4 0.54,-0.74 0.93,-1 0.39,-0.27 0.83,-0.47 1.31,-0.61 0.48,-0.14 0.98,-0.21 1.49,-0.21 0.78,0 1.5,0.16 2.16,0.47 0.66,0.31 1.18,0.81 1.55,1.51l-1.51 1.01c-0.24,-0.39 -0.54,-0.71 -0.93,-0.95 -0.38,-0.24 -0.84,-0.36 -1.38,-0.36 -0.25,0 -0.5,0.03 -0.76,0.09 -0.26,0.07 -0.49,0.16 -0.69,0.28 -0.2,0.13 -0.37,0.29 -0.5,0.48 -0.13,0.2 -0.2,0.42 -0.2,0.67 0,0.23 0.07,0.43 0.22,0.59 0.15,0.17 0.35,0.31 0.61,0.43 0.26,0.13 0.55,0.24 0.89,0.33 0.33,0.09 0.68,0.17 1.03,0.23 0.49,0.1 0.94,0.22 1.38,0.37 0.44,0.14 0.82,0.34 1.14,0.59 0.33,0.25 0.59,0.56 0.77,0.93 0.19,0.38 0.28,0.84 0.28,1.38 0,0.62 -0.12,1.15 -0.37,1.59 -0.25,0.43 -0.58,0.79 -0.99,1.06 -0.41,0.27 -0.88,0.47 -1.4,0.59 -0.52,0.13 -1.06,0.19 -1.6,0.19 -0.93,0 -1.74,-0.14 -2.41,-0.43 -0.68,-0.29 -1.29,-0.82 -1.84,-1.6l1.45 -1.12zm19.22 0.28c0,0.5 0.02,0.96 0.05,1.4 0.03,0.43 0.05,0.83 0.05,1.19l-1.73 0c0,-0.3 -0.01,-0.59 -0.02,-0.89 -0.02,-0.29 -0.03,-0.6 -0.03,-0.91l-0.04 0c-0.13,0.27 -0.3,0.52 -0.53,0.77 -0.22,0.25 -0.49,0.47 -0.8,0.67 -0.31,0.19 -0.66,0.35 -1.05,0.46 -0.39,0.12 -0.81,0.18 -1.26,0.18 -0.72,0 -1.34,-0.11 -1.86,-0.33 -0.52,-0.22 -0.95,-0.52 -1.29,-0.91 -0.34,-0.39 -0.6,-0.86 -0.76,-1.41 -0.16,-0.55 -0.24,-1.15 -0.24,-1.81l0 -6.74 1.82 0 0 6.56c0,0.91 0.2,1.64 0.6,2.17 0.41,0.53 1.04,0.79 1.89,0.79 0.59,0 1.1,-0.1 1.53,-0.3 0.43,-0.21 0.78,-0.49 1.05,-0.87 0.27,-0.37 0.47,-0.81 0.61,-1.33 0.13,-0.51 0.19,-1.08 0.19,-1.7l0 -5.32 1.82 0 0 8.33zm3.36 -8.33l1.82 0 0 1.59 0.05 0c0.5,-0.59 1.08,-1.05 1.74,-1.38 0.66,-0.33 1.39,-0.49 2.18,-0.49 0.86,0 1.64,0.14 2.34,0.43 0.71,0.29 1.31,0.69 1.81,1.2 0.5,0.52 0.89,1.12 1.17,1.82 0.28,0.7 0.42,1.47 0.42,2.29 0,0.82 -0.14,1.59 -0.42,2.29 -0.28,0.7 -0.67,1.3 -1.16,1.82 -0.49,0.51 -1.07,0.91 -1.73,1.2 -0.67,0.29 -1.39,0.43 -2.15,0.43 -0.98,0 -1.84,-0.21 -2.58,-0.64 -0.74,-0.43 -1.28,-0.95 -1.62,-1.58l-0.05 0 0 7.26 -1.82 0 0 -16.24zm1.82 5.46c0,0.58 0.09,1.11 0.27,1.6 0.18,0.49 0.44,0.92 0.78,1.28 0.35,0.37 0.75,0.65 1.23,0.86 0.47,0.21 1.01,0.32 1.6,0.32 0.59,0 1.12,-0.11 1.59,-0.32 0.48,-0.21 0.89,-0.49 1.23,-0.86 0.34,-0.36 0.6,-0.79 0.78,-1.28 0.18,-0.49 0.27,-1.02 0.27,-1.6 0,-0.58 -0.09,-1.11 -0.27,-1.6 -0.18,-0.49 -0.44,-0.92 -0.78,-1.28 -0.34,-0.37 -0.75,-0.65 -1.23,-0.86 -0.47,-0.21 -1,-0.32 -1.59,-0.32 -0.59,0 -1.13,0.11 -1.6,0.32 -0.48,0.21 -0.88,0.49 -1.23,0.86 -0.34,0.36 -0.6,0.79 -0.78,1.28 -0.18,0.49 -0.27,1.02 -0.27,1.6zm12.44 -5.46l1.82 0 0 1.59 0.04 0c0.5,-0.59 1.08,-1.05 1.74,-1.38 0.66,-0.33 1.39,-0.49 2.18,-0.49 0.86,0 1.64,0.14 2.35,0.43 0.71,0.29 1.31,0.69 1.81,1.2 0.49,0.52 0.88,1.12 1.16,1.82 0.28,0.7 0.42,1.47 0.42,2.29 0,0.82 -0.14,1.59 -0.42,2.29 -0.28,0.7 -0.66,1.3 -1.15,1.82 -0.49,0.51 -1.07,0.91 -1.74,1.2 -0.67,0.29 -1.38,0.43 -2.15,0.43 -0.98,0 -1.83,-0.21 -2.57,-0.64 -0.74,-0.43 -1.28,-0.95 -1.63,-1.58l-0.04 0 0 7.26 -1.82 0 0 -16.24zm1.82 5.46c0,0.58 0.09,1.11 0.27,1.6 0.18,0.49 0.44,0.92 0.78,1.28 0.34,0.37 0.75,0.65 1.22,0.86 0.48,0.21 1.01,0.32 1.6,0.32 0.59,0 1.12,-0.11 1.6,-0.32 0.47,-0.21 0.88,-0.49 1.22,-0.86 0.35,-0.36 0.61,-0.79 0.79,-1.28 0.17,-0.49 0.26,-1.02 0.26,-1.6 0,-0.58 -0.09,-1.11 -0.26,-1.6 -0.18,-0.49 -0.44,-0.92 -0.79,-1.28 -0.34,-0.37 -0.75,-0.65 -1.22,-0.86 -0.48,-0.21 -1.01,-0.32 -1.6,-0.32 -0.59,0 -1.12,0.11 -1.6,0.32 -0.47,0.21 -0.88,0.49 -1.22,0.86 -0.34,0.36 -0.6,0.79 -0.78,1.28 -0.18,0.49 -0.27,1.02 -0.27,1.6zm12.69 -12.18l1.82 0 0 17.64 -1.82 0 0 -17.64zm9.45 20.14c-0.19,0.46 -0.38,0.89 -0.57,1.27 -0.2,0.38 -0.43,0.7 -0.7,0.98 -0.28,0.27 -0.6,0.48 -0.98,0.63 -0.38,0.14 -0.85,0.22 -1.39,0.22 -0.27,0 -0.54,-0.02 -0.83,-0.05 -0.29,-0.03 -0.56,-0.11 -0.8,-0.23l0.23 -1.59c0.19,0.08 0.38,0.13 0.58,0.15 0.2,0.03 0.44,0.04 0.7,0.04 0.59,0 1.03,-0.16 1.31,-0.49 0.28,-0.33 0.52,-0.76 0.72,-1.31l0.75 -2.05 -4.53 -10.99 2.13 0 3.38 8.56 0.04 0 3.25 -8.56 1.98 0 -5.27 13.42zm15 -10.69c-0.39,-0.47 -0.81,-0.8 -1.26,-1.01 -0.45,-0.21 -0.95,-0.32 -1.49,-0.32 -0.61,0 -1.15,0.11 -1.61,0.32 -0.47,0.21 -0.85,0.5 -1.16,0.87 -0.3,0.37 -0.53,0.81 -0.69,1.3 -0.15,0.49 -0.23,1.01 -0.23,1.57 0,0.56 0.09,1.08 0.27,1.57 0.18,0.49 0.43,0.93 0.75,1.3 0.31,0.37 0.7,0.66 1.15,0.87 0.45,0.21 0.96,0.32 1.52,0.32 1.19,0 2.12,-0.45 2.77,-1.35l1.36 1.28c-0.53,0.61 -1.16,1.05 -1.87,1.33 -0.72,0.28 -1.47,0.42 -2.26,0.42 -0.84,0 -1.61,-0.14 -2.31,-0.42 -0.7,-0.28 -1.3,-0.68 -1.79,-1.19 -0.49,-0.51 -0.87,-1.12 -1.14,-1.82 -0.27,-0.7 -0.41,-1.47 -0.41,-2.31 0,-0.82 0.14,-1.59 0.41,-2.29 0.27,-0.7 0.66,-1.3 1.15,-1.82 0.5,-0.51 1.1,-0.91 1.79,-1.2 0.69,-0.29 1.46,-0.43 2.3,-0.43 0.81,0 1.57,0.14 2.29,0.42 0.73,0.28 1.36,0.72 1.91,1.31l-1.45 1.28zm13.23 6.21c-0.66,0.84 -1.37,1.42 -2.15,1.76 -0.78,0.33 -1.68,0.5 -2.71,0.5 -0.85,0 -1.62,-0.15 -2.3,-0.46 -0.69,-0.3 -1.27,-0.71 -1.74,-1.22 -0.48,-0.51 -0.84,-1.12 -1.1,-1.82 -0.26,-0.7 -0.38,-1.45 -0.38,-2.24 0,-0.84 0.14,-1.61 0.42,-2.32 0.28,-0.71 0.66,-1.32 1.16,-1.82 0.5,-0.51 1.09,-0.9 1.78,-1.18 0.68,-0.28 1.43,-0.42 2.23,-0.42 0.77,0 1.47,0.13 2.1,0.39 0.64,0.25 1.19,0.63 1.65,1.12 0.46,0.49 0.81,1.08 1.06,1.79 0.25,0.71 0.37,1.51 0.37,2.42l0 0.58 -8.81 0c0.03,0.47 0.14,0.91 0.33,1.34 0.2,0.43 0.45,0.8 0.76,1.12 0.31,0.32 0.68,0.57 1.1,0.76 0.42,0.19 0.88,0.28 1.37,0.28 0.8,0 1.47,-0.14 2.01,-0.42 0.55,-0.28 1.04,-0.69 1.47,-1.24l1.38 1.08zm-1.57 -4.46c-0.03,-0.93 -0.33,-1.68 -0.91,-2.24 -0.57,-0.56 -1.36,-0.84 -2.38,-0.84 -1.01,0 -1.82,0.28 -2.44,0.84 -0.63,0.56 -1,1.31 -1.12,2.24l6.85 0zm4.79 -1.89c0,-0.5 -0.02,-0.96 -0.05,-1.4 -0.03,-0.43 -0.05,-0.83 -0.05,-1.19l1.73 0c0,0.3 0.01,0.59 0.02,0.89 0.02,0.29 0.03,0.6 0.03,0.91l0.04 0c0.13,-0.27 0.3,-0.52 0.53,-0.77 0.22,-0.25 0.49,-0.47 0.8,-0.67 0.31,-0.19 0.66,-0.35 1.05,-0.46 0.39,-0.12 0.81,-0.18 1.26,-0.18 0.72,0 1.34,0.11 1.86,0.33 0.52,0.22 0.95,0.52 1.29,0.91 0.34,0.39 0.6,0.86 0.76,1.41 0.16,0.55 0.25,1.15 0.25,1.81l0 6.74 -1.82 0 0 -6.56c0,-0.91 -0.21,-1.64 -0.61,-2.17 -0.41,-0.52 -1.03,-0.79 -1.89,-0.79 -0.59,0 -1.1,0.1 -1.53,0.3 -0.43,0.21 -0.78,0.49 -1.05,0.87 -0.27,0.37 -0.47,0.81 -0.6,1.33 -0.14,0.51 -0.2,1.08 -0.2,1.7l0 5.32 -1.82 0 0 -8.33zm18.94 -1.05l-3.22 0 0 5.46c0,0.36 0.01,0.69 0.02,0.99 0.02,0.3 0.08,0.57 0.19,0.79 0.11,0.23 0.27,0.41 0.49,0.54 0.22,0.13 0.53,0.2 0.93,0.2 0.27,0 0.54,-0.03 0.82,-0.09 0.28,-0.07 0.55,-0.16 0.79,-0.28l0.07 1.65c-0.31,0.14 -0.65,0.24 -1.03,0.31 -0.39,0.06 -0.75,0.09 -1.09,0.09 -0.65,0 -1.17,-0.09 -1.56,-0.26 -0.39,-0.17 -0.69,-0.41 -0.91,-0.72 -0.22,-0.31 -0.36,-0.7 -0.43,-1.16 -0.07,-0.45 -0.11,-0.96 -0.11,-1.52l0 -6 -2.38 0 0 -1.54 2.38 0 0 -3.1 1.82 0 0 3.1 3.22 0 0 1.54zm2.24 1.05c0,-0.5 -0.01,-0.96 -0.05,-1.4 -0.03,-0.43 -0.04,-0.83 -0.04,-1.19l1.72 0c0,0.3 0.01,0.59 0.03,0.89 0.01,0.29 0.02,0.6 0.02,0.91l0.05 0c0.12,-0.27 0.3,-0.52 0.52,-0.77 0.23,-0.25 0.5,-0.47 0.81,-0.67 0.31,-0.19 0.66,-0.35 1.05,-0.46 0.39,-0.12 0.81,-0.18 1.26,-0.18 0.12,0 0.25,0.01 0.37,0.02 0.12,0.02 0.25,0.05 0.37,0.1l-0.11 1.84c-0.31,-0.09 -0.64,-0.14 -0.98,-0.14 -1.12,0 -1.94,0.36 -2.44,1.09 -0.51,0.72 -0.76,1.71 -0.76,2.97l0 5.32 -1.82 0 0 -8.33zm8.07 -1.19c0.56,-0.57 1.23,-1 2,-1.27 0.77,-0.27 1.55,-0.41 2.34,-0.41 1.62,0 2.79,0.38 3.5,1.14 0.72,0.77 1.07,1.92 1.07,3.48l0 4.69c0,0.31 0.02,0.63 0.05,0.97 0.03,0.33 0.07,0.64 0.12,0.92l-1.75 0c-0.06,-0.25 -0.1,-0.53 -0.11,-0.83 0,-0.3 -0.01,-0.57 -0.01,-0.8l-0.05 0c-0.35,0.56 -0.83,1.01 -1.43,1.37 -0.6,0.36 -1.32,0.54 -2.16,0.54 -0.56,0 -1.08,-0.07 -1.57,-0.21 -0.49,-0.14 -0.92,-0.35 -1.29,-0.62 -0.36,-0.27 -0.65,-0.61 -0.87,-1.01 -0.22,-0.41 -0.33,-0.87 -0.33,-1.4 0,-0.91 0.24,-1.61 0.7,-2.13 0.47,-0.51 1.05,-0.89 1.74,-1.14 0.69,-0.25 1.44,-0.4 2.24,-0.47 0.8,-0.06 1.54,-0.09 2.21,-0.09l0.69 0 0 -0.33c0,-0.79 -0.23,-1.39 -0.71,-1.79 -0.47,-0.41 -1.14,-0.61 -1.99,-0.61 -0.59,0 -1.17,0.1 -1.74,0.29 -0.57,0.2 -1.07,0.5 -1.5,0.9l-1.15 -1.19zm5.28 4.27c-1.17,0 -2.1,0.16 -2.78,0.49 -0.69,0.33 -1.03,0.86 -1.03,1.61 0,0.68 0.23,1.17 0.69,1.46 0.46,0.29 1.03,0.43 1.72,0.43 0.52,0 0.99,-0.09 1.38,-0.27 0.4,-0.18 0.73,-0.41 1,-0.71 0.26,-0.3 0.46,-0.64 0.6,-1.04 0.14,-0.4 0.22,-0.82 0.23,-1.27l0 -0.7 -1.81 0zm7.13 -12.39l1.82 0 0 17.64 -1.82 0 0 -17.64z"/>
 </g>
</svg>
    </Link>
</template>
