<script setup>
defineProps({
    type: {
        type: String,
        default: 'submit',
    },
});
</script>

<template>
    <button :type="type" class="inline-flex items-center px-2 py-1 bg-white border border-gray-300 rounded-md text-xs text-gray-500 capitalize tracking-wider hover:bg-gray-200 focus:bg-gray-200 active:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-100 transition ease-in-out duration-150">
        <slot />
    </button>
</template>
