<script setup>
import {ref} from "vue";
import {router, usePage} from '@inertiajs/vue3';
import { Link} from '@inertiajs/vue3';
import _ from 'lodash';

defineProps({
    menu: Object,
    icon: String,
    routeName: 'String',
    selectedMenu: 'String',
    activeSubMenu: String
});

const isOpen = ref(window.innerWidth > 639);
const menu = usePage().props.menu;
const routeName = usePage().props.routeName;
const logout = () => {
    router.post(route('logout'));
};
let icon = (item) => {
    let icon_type;
    switch (item) {
        case "Bank Guarantee":
            icon_type = "bg.svg"
            break;
        case "Suppliers":
            icon_type = "sp.svg"
            break;
        case "Invoice":
            icon_type = "inv.svg"
            break;
        case "Distributor Finance":
            icon_type = "df.svg"
            break;
        case "Inventory Finance":
            icon_type = "if.svg"
            break;
        case "Purchase Order":
            icon_type = "po.svg"
            break;
        case "Pending Authorizations":
            icon_type = "pause-circle.svg"
            break;
    }
    return icon_type;
}
const selectedMenu = ref(routeName);
const activeSubMenu = ref(usePage().props.activeSubMenu);

</script>

<template>
    <div class="relative block z-50">
        <div :class="{'hidden' : isOpen}" @click="isOpen = true" class="shadow-2xl md:shadow:none w-max md:hidden px-2 py-1 justify-center rounded-md text-white uppercase text-xs items-center bg-sky-800 mb-4 cursor-pointer">
            Menu
        </div>
        <div
            :class="isOpen ? 'w-full md:w-80' : 'w-16 hidden md:block'"
            class="flex flex-col h-max p-3 duration-300 bg-sky-800 shadow rounded-md overflow-y-auto absolute md:static">
            <div class="space-y-3">
                <div class="flex items-center justify-between">
                  <div class=" relative text-xs text-white flex space-x-3 items-center w-full">
                    <!--Company Info-->
                    <img class="rounded-full object-contain" :class="isOpen ? 'w-8 h-8' : 'w-4 h-4'" :src="$page.props.auth.user.company.logo_url ? '/storage/company_logos/' + $page.props.auth.user.company.logo_url : '/storage/company_avatars/' + $page.props.auth.user.company.default_logo">
                    <span :class="{'hidden' : !isOpen}" class="flex flex-col">
                      <span class="font-bold truncate">{{$page.props.auth.user.company.company_name}}</span>
                      <small class="antialiased text-blue-100 border-b border-sky-900 pb-2">{{ 'Tier ' + $page.props.auth.user.company.company_tier + ' ' +  ($page.props.auth.user.company.account_type === 'buyer_supplier' ? 'Buyer/Supplier' : _.upperFirst($page.props.auth.user.company.account_type))}}</small>
                    </span>
                  </div>
                    <button @click="isOpen = !isOpen">
                        <img class="w-5 h-5" :src="isOpen ? '/svgs/menu_left.svg' : '/svgs/menu_right.svg'" />
                    </button>
                </div>
                <div class="flex">
                    <ul class="pt-2 pb-4 space-y-1 text-sm w-full">
                        <li class="rounded-sm relative flex items-center">
                            <span v-show="routeName === 'Dashboard'" class="absolute w-2 bg-orange-500 h-6 left-[-0.9rem]"></span>
                            <Link :href="route('dashboard')" class="flex items-center p-2 space-x-3 rounded-md" preserve-scroll>
                                <i title="Dashboard" class="bi bi-columns-gap text-white text-lg w-6 h-6"></i>
                                <span v-show="isOpen" class="text-gray-100">Dashboard</span>
                            </Link>
                        </li>
                        <template v-for="(item, index) in menu">
                            <ul>
                                <li class="rounded-sm relative flex items-center">
                                    <span v-show="routeName === index" class="absolute w-2 bg-orange-500 h-6 left-[-0.9rem]"></span>
                                    <a v-if="item.length > 1" href="#" class="flex items-center justify-between p-2 space-x-3 rounded-md w-full relative"
                                       @click="selectedMenu === index ? (selectedMenu = '') : (selectedMenu = index)">
                                        <img @click="(e) => {
                                            isOpen = true;
                                            selectedMenu = index
                                            e.stopPropagation();
                                        }" :title="index" class="text-white w-6 h-6" :src="'/svgs/' +  icon(index) "/>
                                        <span v-show="!isOpen" v-if="_.isFinite(_.sumBy((_.filter(item, (o) => _.isFinite(o.actionCount))), 'actionCount')) && (_.sumBy((_.filter(item, (o) => _.isFinite(o.actionCount))), 'actionCount')) > 0" class="w-2 h-2 bg-orange-600 text-white rounded-full top-[0.4rem] right-0 absolute"></span>
                                        <span v-show="isOpen" class="w-full flex items-center space-x-8 text-gray-100">
                                            <span>{{ index }}</span>
                                            <slot v-if="_.isFinite(_.sumBy((_.filter(item, (o) => _.isFinite(o.actionCount))), 'actionCount')) && (_.sumBy((_.filter(item, (o) => _.isFinite(o.actionCount))), 'actionCount')) > 0 ">
                                                    <span class="w-4 h-4 bg-orange-600 text-white rounded-full top-0 right-[-1.8rem] flex justify-center items-center font-semibold" style="font-size: 0.65rem">{{ _.sumBy((_.filter(item, (o) => _.isFinite(o.actionCount))), 'actionCount') }}</span>
                                            </slot>
                                        </span>
                                        <i v-show="isOpen" class="bi text-white w-4 h-4 duration-800" :class="selectedMenu === index ? 'bi-chevron-right' : 'bi-chevron-down'"></i>
                                    </a>
                                    <Link v-if="item.length === 1" :href="route(item[0]['uri'])" as="button" :disabled="routeName === index" class="flex items-center justify-between p-2 space-x-3 rounded-md w-full relative">
                                        <img @click="(e) => {
                                            isOpen = true;
                                            selectedMenu = index
                                            e.stopPropagation();
                                        }" :title="index" class="text-white w-6 h-6" :src="'/svgs/' +  icon(index) "/>
                                        <span v-show="!isOpen" v-if="_.isFinite(_.sumBy((_.filter(item, (o) => _.isFinite(o.actionCount))), 'actionCount')) && (_.sumBy((_.filter(item, (o) => _.isFinite(o.actionCount))), 'actionCount')) > 0" class="w-2 h-2 bg-orange-600 text-white rounded-full top-[0.4rem] right-0 absolute"></span>
                                        <span v-show="isOpen" class="w-full flex items-center space-x-8 text-gray-100">
                                            <span>{{ index }}</span>
                                            <slot v-if="_.isFinite(_.sumBy((_.filter(item, (o) => _.isFinite(o.actionCount))), 'actionCount')) && (_.sumBy((_.filter(item, (o) => _.isFinite(o.actionCount))), 'actionCount')) > 0 ">
                                                    <span class="w-4 h-4 bg-orange-600 text-white rounded-full top-0 right-[-1.8rem] flex justify-center items-center font-semibold" style="font-size: 0.65rem">{{ _.sumBy((_.filter(item, (o) => _.isFinite(o.actionCount))), 'actionCount') }}</span>
                                            </slot>
                                        </span>
                                    </Link>
                                </li>
                                <li v-if="item.length > 1" class="mx-auto px-4">
                                    <ul>
                                        <template v-for="subItem in item" v-if="isOpen">
                                            <li v-show="selectedMenu === index" class="rounded-sm bg-white text-gray-300 bg-opacity-5">
                                                <Link :href="route(subItem.uri)" method="get" class="flex text-xs p-2 "
                                                      :class="activeSubMenu !== subItem.uri ? 'hover:underline cursor-pointer' : 'cursor-default pointer-events-none'">
                                                    <span :class="{ 'font-extrabold text-gray-100' : activeSubMenu === subItem.uri }">{{subItem.title}}</span>
                                                    <span class="relative">
                                                        <slot v-if="subItem.actionRequired">
                                                            <span class="w-4 h-4 absolute bg-orange-600 text-white rounded-full top-0 right-[-1.8rem] flex justify-center items-center font-semibold" style="font-size: 0.65rem">{{subItem.actionCount}}</span>
                                                        </slot>
                                                    </span>
                                                </Link>
                                            </li>
                                        </template>
                                    </ul>

                                </li>
                            </ul>

                        </template>

                        <li class="rounded-sm">
                            <a
                                href="#"
                                class="flex items-center p-2 space-x-3 rounded-md">
                                <i title="Subscription" class="bi bi-clock-history text-white" style="font-size:1.4rem"></i>
                                <span v-show="isOpen" class="text-gray-100"> Subscription </span>
                            </a>
                        </li>
                        <li class="rounded-sm">
                            <a  title="Settings"
                                href="#"
                                class="flex items-center p-2 space-x-3 rounded-md"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="w-6 h-6 text-gray-100"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z"
                                    />
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                                    />
                                </svg>

                                <span v-show="isOpen" class="text-gray-100"> Settings </span>
                            </a>
                        </li>
                        <li class="rounded-sm">
                            <a title="Logout" @click="logout" href="#" class="flex items-center p-2 space-x-3 rounded-md"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="w-6 h-6 text-gray-100"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"
                                    />
                                </svg>

                                <span v-show="isOpen" class="text-gray-100"> Logout </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
