<script setup>
import Modal from './Modal.vue';
import {ref, watch} from "vue";

const emit = defineEmits(['close']);

const props = defineProps({
    show: {
        type: Boolean,
        default: false,
    },
    maxWidth: {
        type: String,
        default: '7xl',
    },
    closeable: {
        type: Boolean,
        default: true,
    },
    selectedDocument: String,
    sourceFolder: String,
    width: {
        type: String,
        default: ' lg:w-4/5'
    },
    zLevel: {
    type: String,
    default: 'z-50'
  }
});

const close = () => {emit('close');};
const documentLoading = ref(false);
const document = ref("");
function loadDoc () {
    documentLoading.value = true;
}

watch(() => props.show, () => {
    if (props.show) {
        loadDoc();
    }
});

</script>

<template>
    <Modal
        :show="show"
        :max-width="maxWidth"
        :width="width"
        :closeable="closeable"
        @close="close"
        :z-level="zLevel"
    >
        <div v-show="!documentLoading" class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="flex sm:items-start justify-center relative">
                <button @click="close" class="absolute top-0 right-[2rem]" style="z-index: 999">
                    <i class="bi bi-x-circle-fill text-red-600 text-3xl"></i>
                </button>
                <div class="mt-3 sm:mt-0 sm:ml-4 border border-gray-300 relative">
                    <slot v-if="selectedDocument.split('.')[1] !== 'pdf'">
                        <img :alt="selectedDocument" :src="sourceFolder + selectedDocument" @load="documentLoading = false"/>
                    </slot>
                    <slot v-if="selectedDocument.split('.')[1] === 'pdf'">
                        <iframe style="object-fit: contain; object-position: center" :src="sourceFolder + selectedDocument + '#toolbar=0&navpanes=0'"
                               @load="documentLoading = false"
                               width="800" height="800" type="application/pdf"
                               class="max-w-full" />
                    </slot>
                </div>
            </div>
        </div>
        <div v-show="documentLoading" class="bg-white flex justify-center lg:py-8 sm:py-6 text-gray-600 text-3xl font-light">
            Loading Document ....
        </div>

    </Modal>
</template>
