<script setup>
import { ref } from 'vue';

defineProps({
    modelValue: String,
    modelId: String,
});

defineEmits(['update:modelValue']);

const input = ref(null);

</script>

<template>
    <input
        :id="modelId"
        type="file"
        ref="input"
        class="absolute w-[1px] h-[1px] p-0 m-[-1px] overflow-hidden border-0"
        style="clip: rect(0,0,0,0)"
        @change="$emit('update:modelValue', $event.target.files[0])"
    >
</template>
