<script setup>
import {computed, ref, useSlots} from 'vue';
import SectionTitle from './SectionTitle.vue';
import {useRemember} from "@inertiajs/vue3";

const emit = defineEmits(['submitted', 'closed']);
const props = defineProps({
    showCloseButton: {
        type: Boolean,
        default: false
    },
    keyWatcher: Number

});

function close() {
    if (keyWatcher.value !== props.keyWatcher) {
        emit('closed', true);
        keyWatcher.value = props.keyWatcher;
    }
    else {
        emit('closed');
    }

}
const hasActions = computed(() => !! useSlots().actions);
const keyWatcher = useRemember(ref(props.keyWatcher));

</script>

<template>
    <div v-if="showCloseButton" class="col-span-6 text-right mb-2">
        <button @click="close">
            <i class="bi bi-x-circle-fill text-gray-800 text-3xl"></i>
        </button>
    </div>
    <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="mt-5 md:mt-0 md:col-span-3">
            <form @submit.prevent="$emit('submitted')" enctype="multipart/form-data">
                <div
                    class="px-4 py-5 bg-white sm:p-6 border border-gray-200"
                    :class="hasActions ? 'sm:rounded-tl-md sm:rounded-tr-md border-b-0' : 'sm:rounded-md'"
                >
                    <div class="grid grid-cols-6 gap-x-6 gap-y-8">
                        <slot name="form" />
                    </div>
                </div>

                <div v-if="hasActions" class="flex items-center justify-end px-4 py-3 bg-gray-50 text-right sm:px-6 border border-gray-200 border-t-0 sm:rounded-bl-md sm:rounded-br-md">
                    <slot name="actions" />
                </div>
            </form>
        </div>
    </div>
</template>
