<script setup>
defineProps({
    type: {
        type: String,
        default: 'submit',
    },
});
</script>

<template>
    <button :type="type" class="inline-flex items-center px-2 py-1 bg-indigo-600 border border-transparent rounded-md font-semibold 
    text-xs text-white capitalize tracking-wide hover:bg-indigo-500 focus:bg-indigo-500 active:bg-indigo-700 focus:outline-none 
    focus:ring-0 transition ease-in-out duration-150">
        <slot />
    </button>
</template>
