<script setup>

const props = defineProps({
    name: 'ItemsPerPageDropdown',
    listItemsPerPage: Array,
    itemsPerPage: Number,
    css: Object
});

const emit = defineEmits(['updateItemsPerPage']);
const listItemsPerPage = [5, 10, 20, 30, 50];
const itemsPerPage = props.itemsPerPage;
const css = {
    select: 'border border-gray-300 text-gray-600 rounded-md text-sm focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out'
    };
const onUpdate = function (event) {
    emit('updateItemsPerPage', 'perPage', event.target.value)
    };
</script>

<template>
  <select
    :class="css.select"
    @change="onUpdate">
    <option
      v-for="item in listItemsPerPage"
      :key="item"
      :value="item"
      :selected="itemsPerPage == item"
    >
      {{ item }}
    </option>
  </select>
</template>

