<script setup>

import {usePage} from "@inertiajs/vue3";
import {ref} from "vue";
import SecondaryButton from "@/Components/SecondaryButton.vue";
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/themes/material_green.css';
import _ from "lodash";

const props = defineProps({
    name: 'TableFilter',
    dataFilter: String,
    dataFilterType: String,
    itemCount: Number,
    filterTypes: Object,
    bidLimitations: Object
});
const emit = defineEmits(["updateFilter", "resetFilter"]);
const filterTypes = ref(props.filterTypes);
const dataFilterType = ref(props.dataFilterType);
const dataFilter = ref(props.dataFilter);
const dateRange = ref(null);
const config = ref({
    altFormat: 'M j, Y',
    altInput: true,
    dateFormat: 'Y-m-d',
    maxDate: 'today',
    minDate: usePage().props.auth.user.company.created_at,
    mode: "range"
});

function loadFilter(event) {
    dataFilter.value = event.target.value;
    emit("updateFilter", 'filter', null, null, dataFilterType.value, dataFilter.value);
}
function loadDateFilter() {
        if (dateRange.value){
            if (dateRange.value.search('to') !== -1) {
                dataFilter.value = dateRange.value.replace(" to ", ",");
            }
            else {
                dataFilter.value = dateRange.value + "," + dateRange.value
            }
            emit("updateFilter", 'filter', null, null, dataFilterType.value, dataFilter.value);
        }
}
function getFilter(event) {
    dataFilter.value = null;
}
function resetFilter() {
    dataFilter.value = null;
    dataFilterType.value = null;
    dateRange.value = null;
    _.unset(filterTypes.value, 'selected_group_name');
    emit("resetFilter");
}

</script>

<template>
  <div class="pl-6 text-gray-600 text-sm flex flex-col md:flex-row space-x-0 lg:space-x-5 space-y-5 md:space-y-0 items-start md:items-center">
      <div class="flex space-x-3 items-baseline">
          <span class="text-xs text-gray-500">Filter By:</span>
          <select
              v-model="dataFilterType"
              class="border border-gray-300 text-gray-600 rounded-md text-sm focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out"
              @change="getFilter">
              <option
                  v-for="(filterType, item) in filterTypes"
                  :key="item"
                  :value="item"
              >
                  {{ filterType }}
              </option>
          </select>
      </div>
      <select v-if="dataFilterType === 'bank'" v-model="dataFilter"  class="border border-gray-300 text-gray-600 rounded-md text-sm focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out"
      @change="loadFilter">
          <option value=""></option>
          <option v-for="bank in usePage().props.userBanks" :key="bank" :value="bank"> {{ bank }} </option>
      </select>
      <select v-else-if="dataFilterType === 'status'" v-model="dataFilter" class="border border-gray-300 text-gray-600 rounded-md text-sm focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out"
              @change="loadFilter">
          <option value=""></option>
          <option v-for="status in usePage().props.userStatuses" :key="status" :value="status"> {{ status }} </option>
      </select>
      <select v-else-if="dataFilterType === 'company_state'" v-model="dataFilter" class="border border-gray-300 text-gray-600 rounded-md text-sm focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out"
              @change="loadFilter">
          <option value=""></option>
          <option
              v-for="state in $page.props.nigerianStates"
              :key="state"
              :value="state"
          >
              {{ state }}
          </option>
      </select>
      <select v-else-if="dataFilterType === 'selected_group_name'" v-model="dataFilter" class="border border-gray-300 text-gray-600 rounded-md text-sm focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out" @change="loadFilter">
          <option value=""></option>
          <option
              v-for="group in Object.keys($page.props.supplierGroups)"
              :key="group"
              :value="group"
          >
              {{ group }}
          </option>
      </select>
      <select v-else-if="dataFilterType === 'guarantee_type'" v-model="dataFilter" class="border border-gray-300 text-gray-600 rounded-md text-sm focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out"
              @change="loadFilter">
          <option value=""></option>
          <option
              v-for="guarantee_type in usePage().props.userGuaranteeTypes"
              :key="guarantee_type"
              :value="guarantee_type"
          >
              {{ guarantee_type }}
          </option>
      </select>
      <select v-else-if="dataFilterType === 'activity_type'" v-model="dataFilter" class="border border-gray-300 text-gray-600 rounded-md text-sm focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out"
              @change="loadFilter">
          <option value=""></option>
          <option
              v-for="activity in usePage().props.userActivityTypes"
              :value="activity"
          >
              {{ activity }}
          </option>
      </select>
      <select v-else-if="dataFilterType === 'inputer'" v-model="dataFilter" class="border border-gray-300 text-gray-600 rounded-md text-sm focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out"
              @change="loadFilter">
          <option value=""></option>
          <option v-for="initiator in usePage().props.userInitiators" :value="initiator">
              {{ initiator }}
          </option>
      </select>
      <select v-else-if="dataFilterType === 'counterparty'" v-model="dataFilter" class="border border-gray-300 text-gray-600 rounded-md text-sm focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out" @change="loadFilter">
          <option value=""></option>
          <option
              v-for="party in usePage().props.counterParties"
              :value="party"
          >
              {{ party }}
          </option>
      </select>
      <select v-else-if="dataFilterType === 'request_type'" v-model="dataFilter" class="border border-gray-300 text-gray-600 rounded-md text-sm focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out"
              @change="loadFilter">
          <option value=""></option>
          <option
              v-for="type in usePage().props.userRequestTypes"
              :value="type"
          >
              {{ type }}
          </option>
      </select>
      <select v-else-if="dataFilterType === 'bid_limitation'" class="border border-gray-300 text-gray-600 rounded-md text-sm focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out"
              @change="(e) => {
                if (e.target.value.search('- supplier group') === -1) {
                  dataFilter = e.target.value;
                  loadFilter(e)
                }
                else {
                  filterTypes.selected_group_name = 'Supplier Group'
                  dataFilterType = 'selected_group_name';
                  dataFilter = null;
                }
              }">
          <option value=""></option>
          <option v-for="type in Object.values(bidLimitations)" :value="type">
              {{ type }}
          </option>
      </select>
      <div v-else-if="dataFilterType === 'date_created'" class="text-sm flex items-center">
          <flatPickr
              v-model="dateRange"
              class="text-sm border border-gray-300 text-gray-600 rounded-md focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out"
              :config="config"
              placeholder="... Select date range"
              @on-change="loadDateFilter"
              name="date-range"
          />
      </div>
      <slot v-if="dataFilter">
          <SecondaryButton  @click="resetFilter"> Reset Filter </SecondaryButton>
      </slot>
      <span class="lg:px-6">{{ itemCount + ((itemCount > 1 || itemCount === 0 ) ? ' records' : ' record')}}</span>
  </div>
</template>
