<script setup>

import {usePage} from "@inertiajs/vue3";
import {ref} from "vue";
import SecondaryButton from "@/Components/SecondaryButton.vue";
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/themes/material_green.css';
import _ from "lodash";

const props = defineProps({
    name: 'TableFilter',
    dataFilter: String,
    dataFilterType: String,
    itemCount: Number,
    filterTypes: Object,
    bidCount: Number
});
const emit = defineEmits(["updateFilter", "resetFilter"]);
const filterTypes = ref(props.filterTypes);
const dataFilterType = ref(props.dataFilterType);
const dataFilter = ref(props.dataFilter);

function loadFilter(event) {
    dataFilter.value = event.target.value;
    emit("updateFilter", 'filter', null, null, dataFilterType.value, dataFilter.value);
}
function loadDateFilter() {
        if (dateRange.value){
            if (dateRange.value.search('to') !== -1) {
                dataFilter.value = dateRange.value.replace(" to ", ",");
            }
            else {
                dataFilter.value = dateRange.value + "," + dateRange.value
            }
            emit("updateFilter", 'filter', null, null, dataFilterType.value, dataFilter.value);
        }
}
function getFilter(event) {
    dataFilter.value = null;
}
function resetFilter() {
    dataFilter.value = null;
    dataFilterType.value = null;
    dateRange.value = null;
    emit("resetFilter");
}

</script>

<template>
  <div class="pl-6 text-gray-600 text-sm flex flex-col md:flex-row space-x-0 lg:space-x-3 space-y-5 md:space-y-0 items-start md:items-center">
      <div class="flex space-x-3 items-baseline">
          <span class="text-xs text-gray-500">Filter By:</span>
          <select
              v-model="dataFilterType"
              class="border border-gray-300 text-gray-600 rounded-md text-xs focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out"
              @change="getFilter">
              <option
                  v-for="(filterType, item) in filterTypes"
                  :key="item"
                  :value="item"
              >
                  {{ filterType }}
              </option>
          </select>
      </div>
      <select v-if="dataFilterType === 'deliver_to'" v-model="dataFilter" class="border border-gray-300 text-gray-600 rounded-md text-sm focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out"
              @change="loadFilter">
          <option value=""></option>
          <option
              v-for="state in $page.props.nigerianStates"
              :key="state"
              :value="state"
          >
              {{ state }}
          </option>
      </select>
      <select v-else-if="dataFilterType === 'buyer'" v-model="dataFilter" class="border border-gray-300 text-gray-600 rounded-md text-sm focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out" @change="loadFilter">
          <option value=""></option>
          <option
              v-for="buyer in usePage().props.searchableBuyers"
              :value="buyer"
          >
              {{ buyer }}
          </option>
      </select>
      <select v-else-if="dataFilterType === 'buyer_tier'" v-model="dataFilter" class="border border-gray-300 text-gray-600 rounded-md text-sm focus:outline-none focus:text-gray-700 focus:ring-0 focus:ring-gray-600 focus:border-gray-400 transition duration-150 ease-in-out" @change="loadFilter">
          <option value=""></option>
          <option value="1">Tier 1</option>
          <option value="2">Tier 2</option>
          <option value="3">Tier 3</option>
      </select>
      <slot v-if="dataFilter">
          <SecondaryButton  @click="resetFilter"> Reset Filter </SecondaryButton>
      </slot>
      <span class="lg:px-6 text-green-600 font-semibold">{{ itemCount + ((itemCount > 1 || itemCount === 0 ) ? ' suppliers' : ' supplier')}} ({{ bidCount + (bidCount > 1 ? ' bids' : ' bid')}})</span>
  </div>
</template>
