<script setup>
import FormSection from "@/Components/FormSection.vue";
import _ from "lodash";
import {ref} from "vue";
import SecondaryButton from "@/Components/SecondaryButton.vue";
import {Link, useForm, usePage, useRemember} from "@inertiajs/vue3";

const props = defineProps({
    selectedRequest : Object,
});
const emit = defineEmits(['closeDetails', 'populateDialog', 'viewingDocument']);
const formatDateTime = (dateString) => {
    return new Intl.DateTimeFormat('en-NG', { dateStyle: 'full', timeStyle: 'long' }).format(new Date(dateString));
};
const showTransaction = useRemember(ref(true));

function formatDate (value) {
    if (value) {
        const dt = new Date(value);
        return `${addZero(dt.getDate())}/${addZero(
            dt.getMonth() + 1
        )}/${dt.getFullYear()}`;
    }
    return "N/A";
}
function format (formatType, value) {
    let res;
    switch (formatType) {
        case 'date':
            res = formatDate(value);
            break;
        case 'currency':
            res = _.isFinite(value) ? formatMoney.format(value) : 'pending';
            break;
        case 'percent':
            res = (value === 'pending') ? value : (value + ' %');
            break;
        case 'humanDate' :
            const options = { year: "numeric", month: "long", day: "numeric" }
            return value ? new Date(value).toLocaleDateString(undefined, options) : 'pending';
        case 'humanDateTime' :
            const timeOptions = { year: "numeric", month: "long", day: "numeric", hour: "numeric", minute: "numeric" }
            return value ? new Date(value).toLocaleString(undefined, timeOptions) : 'pending'
        default: res = ''
    }
    return res;
}
function statusClassInner(status) {
    switch (status) {
        case 'active':
        case 'bidding opened':
            return 'bg-green-200 bg-opacity-50 rounded-sm px-4 py-2 text-green-900 font-semibold'
        case 'pending':
        case 'authorization pending':
            return 'bg-orange-200 bg-opacity-50 rounded-sm px-4 py-2 text-orange-900 font-semibold'
        case 'expired':
        case 'request canceled':
            return 'bg-red-200 bg-opacity-50 rounded-sm px-4 py-2 text-red-900 font-semibold'
        case 'action required':
            return 'bg-blue-200 bg-opacity-50 rounded-sm px-4 py-2 text-blue-900 font-semibold relative'
        case 'suspended':
            return 'bg-cyan-200 bg-opacity-50 rounded-sm px-4 py-2 text-cyan-900 font-semibold'
        case 'processing':
            return 'bg-purple-200 bg-opacity-50 rounded-sm px-4 py-2 text-purple-900 font-semibold'
    }
}
function detailTag(fieldType) {
    switch (fieldType) {
        case 'number':
        case 'text':
        case 'double':
        case 'integer':
        case 'jsonText':
            return 'edit'
        case 'image':
        case 'file':
        case 'jsonFile':
            return 'upload'
    }
}

</script>
<template>
  <FormSection :show-close-button="true" @closed="$emit('closeDetails')">
    <template #title>
      Pending {{ selectedRequest.activity_type }}
    </template>

    <template #description>
            <span class="flex flex-col space-y-1">
                <span>Cancellation of this bank guarantee request has been initiated by your company's user whose details appear here.</span>
                <span class="text-indigo-600 flex items-start space-x-3">
                    <i class="fa-solid fa-info-circle mt-1"></i>
                    <span>Please review transaction and click Approve or Reject to complete.</span>
                </span>
            </span>
    </template>

    <template #form>
      <!-- Request Details -->
      <div class="col-span-6 grid grid-cols-12 gap-x-4 gap-y-1 p-4 text-sm bg-red-500 text-white rounded-md mb-6">
        <div class="col-span-12 flex justify-center font-bold underline mb-2" style="font-size: 1.05rem"></div>
        <div class="md:col-span-3 col-span-12 md:justify-self-end">
          <span class="font-extrabold text-sm">Transaction Type</span>
        </div>
        <div class="md:col-span-9 col-span-12">{{selectedRequest.activity_type}}</div>

        <div class="md:col-span-3 col-span-12 md:justify-self-end">
          <span class="font-extrabold text-sm">Initiated By</span>
        </div>
        <div class="md:col-span-9 col-span-12">{{selectedRequest.inputer}}</div>

        <div class="md:col-span-3 col-span-12 md:justify-self-end">
          <span class="font-extrabold text-sm">Initiated At</span>
        </div>
        <div class="md:col-span-9 col-span-12">{{formatDateTime(selectedRequest.created)}}</div>

        <div class="md:col-span-3 col-span-12 md:justify-self-end">
          <span class="font-extrabold text-sm">Details</span>
        </div>
        <div class="md:col-span-9 col-span-12">
          <a @click="() => {
                                showTransaction = !showTransaction;
                                $nextTick(() => {
                                    if (showTransaction) {
                                    $refs.shower.scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' });
                                }
                                })
                            }" class="underline cursor-pointer">{{showTransaction ? 'Hide Transaction' : 'Show Transaction'}}</a>
        </div>

        <div class="col-span-12 flex justify-center space-x-5 mt-4">
          <secondary-button @click="$emit('populateDialog', 'bg_cancel_approve')">Approve</secondary-button>
          <secondary-button @click="$emit('populateDialog', 'bg_cancel_reject')">Reject</secondary-button>
        </div>
      </div>

      <div v-show="showTransaction" ref="shower" class="col-span-6 grid grid-cols-6 gap-x-4 gap-y-3">
        <!-- Status -->
        <div class="col-span-6 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-300 border-dotted pb-2 text-sm">
          <div class="md:col-span-3 col-span-12">
            <span class="font-bold text-gray-700 text-sm">Status</span>
          </div>
          <div class="md:col-span-9 col-span-12">
                                            <span class="w-max flex flex-col"
                                                  :class="statusClassInner(selectedRequest.details.status)">
                                                <span class="capitalize">{{selectedRequest.details.status}}</span>
                                            </span>
          </div>
        </div>
        <!-- Bank Actions -->
        <div v-if="selectedRequest.details.pending_actions"
             class="col-span-6 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-300 border-dotted pb-2 text-sm">
          <div class="md:col-span-3 col-span-12">
            <span class="font-bold text-gray-700 text-sm">Bank Pending Actions</span>
          </div>
          <div class="md:col-span-9 col-span-12">
            <ul>
              <li v-for="item in selectedRequest.details.pending_actions" class="text-xs font-normal capitalize">
                {{detailTag(item.dataType) + " " + item.displayName}}
              </li>
            </ul>
            <span v-if="selectedRequest.details.pending_action_comment" class="mt-2 font-normal text-xs">*{{selectedRequest.details.pending_action_comment}}</span>
          </div>
        </div>
        <!-- Guarantee Type -->
        <div class="col-span-6 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-300 border-dotted pb-2 text-sm">
          <div class="md:col-span-3 col-span-12">
            <span class="font-bold text-gray-700 text-sm">Guarantee Type</span>
          </div>
          <div class="md:col-span-9 col-span-12">
            <span>{{ selectedRequest.details.guarantee_type }}</span>
          </div>
        </div>
        <!-- Request Type -->
        <div class="col-span-6 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-300 border-dotted pb-2 text-sm">
          <div class="md:col-span-3 col-span-12">
            <span class="font-bold text-gray-700 text-sm">Request Type</span>
          </div>
          <div class="md:col-span-9 col-span-12 flex space-x-12 items-center">
            <span>{{ selectedRequest.details.request_type }}</span>
            <Link v-if="selectedRequest.details.status === 'bidding opened'"
                  :href="route('guarantee.bids', {'id' : selectedRequest.details.id})" :data="{}"
                  class="underline cursor-pointer text-blue-600 font-semibold"
                  style="font-size: 1rem; line-height: 1.125rem">
              {{selectedRequest.details.bid_count + ( (selectedRequest.details.bid_count > 1 ||
              selectedRequest.details.bid_count === 0) ? ' bids' : ' bid')}}
            </Link>
          </div>
        </div>
        <!-- Supplier/Buyer -->
        <div class="col-span-6 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-300 border-dotted pb-2 text-sm">
          <div class="md:col-span-3 col-span-12">
            <span class="font-bold text-gray-700 text-sm">{{selectedRequest.details.requesting_as === 'seller' ? 'Buyer' : 'Supplier'}}</span>
          </div>
          <div class="md:col-span-9 col-span-12">
            <span>{{selectedRequest.details.requesting_as === 'seller'
                ? !Object.is(selectedRequest.details.buyer, null) ? selectedRequest.details.buyer : 'Not Available'
                : !Object.is(selectedRequest.details.supplier, null) ? selectedRequest.details.supplier : 'Not Available'}}
            </span>
          </div>
        </div>
        <!-- Bank -->
        <div class="col-span-6 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-300 border-dotted pb-2 text-sm">
          <div class="md:col-span-3 col-span-12">
            <span class="font-bold text-gray-700 text-sm">Selected Bank</span>
          </div>
          <div class="md:col-span-9 col-span-12">
            <span>{{selectedRequest.details.bank}}</span>
          </div>
        </div>
        <!-- Amount -->
        <div
            class="col-span-6 text-sm grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-300 border-dotted pb-2 text-sm">
          <div class="md:col-span-3 col-span-12">
            <span class="font-bold text-gray-700 text-sm">Guarantee Amount</span>
          </div>
          <div class="md:col-span-9 col-span-12">
            <span>{{format('currency',selectedRequest.details.amount)}}</span>
          </div>
        </div>
        <!-- Purchase Order -->
        <div v-if="selectedRequest.activity_type === 'Bank Guarantee Request Cancellation'"
             class="col-span-6 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-300 border-dotted pb-2 text-sm">
          <div class="md:col-span-3 col-span-12">
            <span class="font-bold text-gray-700 text-sm">Related Purchase Order</span>
          </div>
          <div class="md:col-span-9 col-span-12">
            <div
                v-if="selectedRequest.details.purchase_order_id && _.isFinite(selectedRequest.details.purchase_order_id)"
                class="flex space-x-5 items-baseline">
              <Link :href="route('purchase_orders.show', {'id' : selectedRequest.details.purchase_order_id})"
                    class="underline">View Details
              </Link>
              <a @click="$emit('viewingDocument', selectedRequest.details.purchase_order_url, '/storage/bg_docs/')"
                 title="purchase order image" class="cursor-pointer"><i class="bi bi-file-image"></i></a>
            </div>
            <div v-if="!selectedRequest.details.purchase_order_id" class="flex space-x-5 items-baseline">
              <div class="flex flex-col">
                <span class="text-green-800" style="font-size: 0.65rem">External Purchase Order</span>
                <span @click="$emit('viewingDocument', selectedRequest.details.purchase_order_url, '/storage/bg_docs/')"
                      class="truncate underline cursor-pointer">{{selectedRequest.details.purchase_order_url}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Supporting Docs -->
        <div v-if="selectedRequest.activity_type === 'Bank Guarantee Request Cancellation'"
             class="col-span-6 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-300 border-dotted pb-2 text-sm">
          <div class="md:col-span-3 col-span-12">
            <span class="font-bold text-gray-700 text-sm">Supporting Documents</span>
          </div>
          <div class="md:col-span-9 col-span-12 flex flex-col space-y-1">
            <span v-if="Object.values(selectedRequest.details.supporting_docs).length === 0">{{ 'No Documents' }}</span>
            <span v-else
                  v-for="item in selectedRequest.details.supporting_docs"
                  class="underline cursor-pointer"
                  @click="$emit('viewingDocument', item.data, '/storage/bg_docs/')">
                {{ item.data }}
            </span>
          </div>
        </div>
        <!-- Rate -->
        <div class="col-span-6 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-300 border-dotted pb-2 text-sm">
          <div class="md:col-span-3 col-span-12">
            <span class="font-bold text-gray-700 text-sm">Approved Rate</span>
          </div>
          <div class="md:col-span-9 col-span-12">
            <span class="capitalize">{{format('percent', selectedRequest.details.approved_rate)}}</span>
          </div>
        </div>
        <!-- Charges -->
        <div class="col-span-6 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-300 border-dotted pb-2 text-sm">
          <div class="md:col-span-3 col-span-12">
            <span class="font-bold text-gray-700 text-sm">Fees/Charges</span>
          </div>
          <div class="md:col-span-9 col-span-12 grid grid-cols-3 capitalize">
            <slot v-if="selectedRequest.details.total_charges_desc !== 'pending'">
              <div v-for="item in selectedRequest.details.total_charges_desc"
                   class="col-span-3 flex space-x-5 space-y-1">
                <div class="w-1/3 font-light">{{item.type}}</div>
                <div class="">{{format('currency',item.amount)}}</div>
              </div>
              <div v-if="selectedRequest.details.total_charges" class="col-span-3 flex space-x-5 font-extrabold pt-2">
                <div class="w-1/3">Total</div>
                <div class="border-t border-b border-gray-600 py-1">
                  {{format('currency',selectedRequest.details.total_charges)}}
                </div>
              </div>
            </slot>
            <div v-else class="col-span-3">
              {{selectedRequest.details.total_charges_desc}}
            </div>
          </div>
        </div>
        <!-- Expiration -->
        <div class="col-span-6 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-300 border-dotted pb-2 text-sm">
          <div class="md:col-span-3 col-span-12">
            <span class="font-bold text-gray-700 text-sm">Expiration Date</span>
          </div>
          <div class="md:col-span-9 col-span-12">
            <span class="capitalize">{{format('humanDate', selectedRequest.details.expiration_date)}}</span>
          </div>
        </div>
      </div>

    </template>
  </FormSection>
</template>
